/* your styles go here */
.bg-pink {
    background-color: $pink;
}
.btn-pink{
    background-color: $pink;
    border-color: $pink;
}
.btn-pink:hover {
    color: #fff;
    background-color: $pink;
    border-color: $pink;
}
.text-pink{
    color: $pink;
}
